body{
    color: #336699;
    font-size: 16px;
}
h3 {
    font-size: 20px;
}
tr{
       /* font-family: Questrial; */
       font-style: normal;
       font-weight: normal;
       font-size: 15px;
       line-height: 14px;
}
.color-borde{
    border: solid 1px #336699;
    border-radius: 18px;
    margin-top: 18px;
    padding: 10px;
}
.panel-title{
    text-align: center;
    margin-top: 18px;
    font-size: 16px;
}
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
