.d-flex {
  display: -webkit-box !important;
  }
  a.navbar-brand.img-responsive.img-top-logo.hidden-xs{

    margin-top: -42px;
  }
  div#navbarToggler {
    max-width: 92%;
}
  .img-fluid {
    max-width: 142%;
 
}
.dropdown-toggle::after {
  display: none; }

.body {
  font-size: 16 px;
  color: #005464; }

.img-top-logo {
  display: block;
  text-align: center;
  width: 100%; }

header {
  z-index: 9999; }

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s ease; }
  .fixed-header .menu-top {
    display: none !important;
    transition: all 0.5s ease; }

.navLogo {
  padding: 0; }
  ul#menuup {
    margin-right: 84px;
    margin-bottom: -9px;
    
}
.formmenu{
  margin: 0px;
}
input#myInput {
  width: 100%;
}
input[type="text"] {
  color: white;
  width: 211%;
  padding-right: 43%;
}
.img-fluid {
  max-width: 126%;
  margin-bottom: 1px;
  margin-top: 5px;
}

.bg-secondary {
  margin-bottom: 0rem;
  background: none !important;
  padding-bottom: 0rem; }

.menu-color {
  border-bottom: 0.19rem solid #F08D46;
  padding: 10px 0px 0 0; }

.call-orange {
  background: #F08D46;
    border-radius: 29px;
    padding: 1px 6px;
    margin-left: 10px;
    color: white;
    margin-left: 10px;
    transition: all 0.5s ease;
 }
  .call-orange a {
    font-size: 1.03rem !important;
    padding: 0 !important; }
  .call-orange:hover {
    background: #02bdb6;
    transition: all 0.5s ease; }

.menu-all .select-menu-top {
  position: relative;
  display: block;
  width: 7em;
  overflow: hidden;
  border-radius: .45em;
  border: 1px solid #02bdb6;
  margin: 0 0 0 0.5em;
  padding: 0px 4px; }
  .menu-all .select-menu-top::after {
    content: '\f0d7';
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 0.3em;
    background: #0f6373;
    pointer-events: none;
    color: #02bdb6; }
  .menu-all .select-menu-top:hover::after {
    color: #f39c12; }
  .menu-all .select-menu-top::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease; }
  .menu-all .select-menu-top select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #005464;
    background-image: none;
    width: 100%;
    margin: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer; }
    .menu-all .select-menu-top select::-ms-expand {
      display: none; }

.menu-all .nav-item .textmenuWelcome {
  font-size: 14px !important;
  margin-top: 3px; }

.avatar {
  position: relative; }
  .avatar a {
    width: 40px !important;
    height: 29px !important;
    padding: 0; }
  .avatar .dropdown-menu {
    z-index: 9999;
    margin-top: 10px;
    background: #ccc !important;
    left: -146%;
    text-align: center;
    padding: 1em; }
    .avatar .dropdown-menu::before {
      position: absolute;
      top: -16px;
      left: 70px;
      display: inline-block;
      content: "";
      border: 8px solid transparent;
      border-bottom-color: #ccc;
      border-bottom-color: rgba(0, 0, 0, 0.15); }
    .avatar .dropdown-menu::after {
      position: absolute;
      top: -14px;
      left: 70px;
      display: inline-block;
      content: "";
      border: 7px solid transparent;
      border-bottom-color: #ccc; }
    .avatar .dropdown-menu small {
      border-bottom: 2px solid #888686;
      display: block;
      font-weight: bold;
      color: rgba(0, 84, 100, 0.9); }
    .avatar .dropdown-menu .rewards-box .item-rewards {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap; }
      .avatar .dropdown-menu .rewards-box .item-rewards span {
        display: block;
        color: rgba(0, 84, 100, 0.9);
        font-weight: bold;
        font-size: 14px; }
    .avatar .dropdown-menu .perfil-menu {
      width: 4rem;
      height: 4rem;
      border: 1px solid #aa850a;
      border-radius: 50%; }

.dropdown-menu .text-submenu:not(:last-child) {
  -webkit-box-shadow: 10px 0px 0px -9px #aa850a;
  -moz-box-shadow: 10px 0px 0px -9px #aa850a;
  box-shadow: 10px 0px 0px -9px #aa850a; }

.showMenuBottom {
  display: none; }

.menuHide {
  display: none;
  position: absolute;
  z-index: 9999;
  max-width: 410px;
  right: 0%; }
  .menuHide ul {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 5%;
    background: #005464;
    border-radius: 0 0 8px 8px; }
    .menuHide ul li {
      list-style: none;
      margin: 3px; }
      .menuHide ul li a {
        padding: 4px;
        color: white !important;
        border: 1px solid #02bdb6;
        display: block;
        border-radius: 8px;
        transition: all 0.5s ease; }
        .menuHide ul li a:hover {
          background: #02bdb6;
          transition: all 0.5s ease; }

.menu-all {
  background: #005464 !important; }

.dropdown-menu {
  min-width: 16rem; }
  .dropdown-menu .dropdown-item {
    padding: 0.25rem 0.5rem; }

.avatar .dropdown-menu {
  min-width: 10rem; }

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem; }

.imgmenu img {
  height: 1.5rem; }

.call-now {
  display: inline-block;
  border-radius: 1rem;
  padding: 0px; }

#img-car-andham {
  display: hidden; }

.navigation-txt {
  text-align: center; }

.img-top-logo-mobile {
  display: none; }

.barra-movile-icon {
  border: none; }

.text-submenu {
  color: #ffffff !important;
  text-align: center; }

.sin-borde {
  border: none; }

.menu {
  display: inline-flex;
  margin: 0;
  margin-top: 2rem; }

.menu-icon.dropdown-menu.show {
  background: #005464;
  border: none;
  margin: auto;
  font-size: 1.2rem;
  display: flex; }

.menuMini {
  font-size: 1.1rem;
  font-weight: 100;
  cursor: pointer; }
  .menuMini i {
    font-size: 8px;
    vertical-align: middle; }

.menu-top {
  font-size: 1.1rem;
  font-weight: 100; }

.navbar-expand-md .navbar-nav {
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 11px; }

.dropdown-item:hover,
.dropdown-item:focus {
  background: #02bdb6; }

.dropdown-toggle::after {
  color: transparent; }

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: white !important;
  transition: all 0.5s ease;
  background-image: linear-gradient(to top, #00798c, #007587, #007183, #006d7e, #00697a, #006677, #006373, #006070, #005d6d, #005a6a, #005767, #005464); }

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #02bdb6; }

.call-now:hover {
  color: #ffffff !important; }

#ico-mobile:active {
  outline: 0; }

#ico-mobile:focus {
  outline: 0; }

.burger-menu {
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer; }

.burger {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 4px;
  top: 50%;
  right: 0px;
  opacity: 1; }

.burger::before {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 4px;
  top: 10px;
  content: "";
  display: block; }

.burger::after {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 4px;
  bottom: 10px;
  content: "";
  display: block; }

.burger::after, .burger::before, .burger {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out; }

.burger-menu.menu-on .burger::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  bottom: 0px; }

.burger-menu.menu-on .burger::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 0px; }

.burger-menu.menu-on .burger {
  background: rgba(111, 111, 111, 0); }

/* useless css */
.burger-menu {
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 430px) {
  .img-top-logo-mobile img {
    width: 100%;
    text-align: center !important; }

  #img-car-andham {
    width: 100%;
    text-align: center !important; }

  .menu-icon.dropdown-menu.show {
    background: rgba(0, 84, 100, 0.9);
    border: none;
    margin: auto;
    display: initial; }

  .menuMobile {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px; }
    .menuMobile .img-top-logo-mobile {
      width: 50%;
      margin: 0; }
    .menuMobile #img-car-andham {
      width: 50%;
      display: flex;
      justify-content: flex-end; } }
@media (max-width: 768px) {
  .menu-all {
    background: none !important; }
    .menu-all .contentHeaderMobile {
      background: #005464; }
    .menu-all .navbar-collapse {
      background: #005464;
      /*position: absolute;
      width: 100%;
      top: 100%;*/ }

  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    background: #00798b; }

  .nav-item .show a {
    background: #008ca1; }

  .dropdown-menu .text-submenu {
    background: #00798b;
    border-bottom: 1px solid #80bee3; }
    .dropdown-menu .text-submenu:last-child {
      border-bottom: 0px; }

  .menu-color {
    padding: 0;
    border: 0; }

  #img-car-andham {
    display: block; }

  .menu-top {
    display: none !important; }

  #img-car-andham {
    display: flex;
    align-items: center; }

  .img-top-logo {
    display: none; }

  .img-top-logo-mobile {
    display: block;
    text-align: left;
    display: inline-block; }

  .img-top-logo {
    width: 100%;
    text-align: left; }

  .menu-icon.dropdown-menu.show {
    background: rgba(0, 84, 100, 0.9);
    border: none;
    margin: auto;
    display: initial; }

  .opciones-menu {
    background: navy; }

  .barra-movile-icon {
    border-bottom: 0.13rem solid #59818c;
    padding-bottom: 5px; }

  .menuHide {
    display: none !important; }

  .mobile-menu-sub {
    display: flex;
    justify-content: space-around; }
    .mobile-menu-sub a {
      padding: 5px; }

  .dropdown-menu .text-submenu:not(:last-child) {
    box-shadow: none; }

  .menuMobile {
    padding: 0; }
    .menuMobile .contentHeaderMobile {
      padding: 0px 15px;
      border-bottom: 3px solid #aa850a;
      width: 100%;
      display: flex;
      justify-content: space-between; }

  .showMenuBottom ul {
    margin: 30px 30px;
    padding: 0; }
    .showMenuBottom ul li {
      list-style: none; }

  .submenu-cuadro {
    width: 100%;
    margin-top: 0.5rem !important;
    text-align: justify;
    border: solid 1px #02bdb6;
    border-radius: 0.5rem;
    margin: auto;
    color: #ffffff; }
    .submenu-cuadro a {
      color: #fff;
      display: block;
      width: 100%;
      padding: 15px;
      font-weight: 600; }
      .submenu-cuadro a:hover {
        background: #f08d46;
        border-radius: 8px; }

  .menu-all {
    padding: 0 !important; }

  header .row {
    margin: 0px; }

  header .col-sm-12 {
    padding: 0; } }
@media (max-width: 992px) {
  .fixed-header .img-top-logo img {
    margin-top: 0;
    width: 145px;
    transition: all 0.5s ease; }
  .fixed-header .navbar-expand-md .navbar-nav {
    margin-top: 0px; }

  .menu-top-bottom {
    justify-content: center !important; }

  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #02bdb6 !important;
    background: rgba(0, 84, 100, 0.9); }

  .img-top-logo {
    margin: 0 auto; }
    .img-top-logo img {
      margin-top: 20px; }

  .img-top-logo-mobile img {
    width: 100%; } }
@media (min-width: 750px) {
  .li.nav-item.submenu-cuadro {
    display: none !important; }

  .text-submenu nav-link {
    display: block !important; } }
@media (max-width: 1200px) {
  .navbar-expand-md .navbar-nav {
    font-size: 0.9rem; }

  .menu-icon.dropdown-menu.show {
    font-size: 0.9rem; } }
@media (min-width: 1200px) {
  .li.nav-item.submenu-cuadro {
    border: 3px solid rebeccapurple;
    display: none !important; }

  .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.2rem; }

  .menu-bottom {
    margin-bottom: 0rem;
    font-size: 1.5rem; }

  .navbar {
    padding: 0;
    margin: 0; }
    .navbar .navbar-brand {
      margin: 0;
      padding: 0; }

  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #02bdb6 !important;
    background: rgba(0, 84, 100, 0.9); }

  .dropdown-menu.show {
    background: #005464; }

  a.dropdown-item {
    color: #ffffff; } }

    .filterable {
      margin-top: 15px;
  }
  .filterable .panel-heading .pull-right {
      margin-top: -20px;
  }
  .filterable .filters input[disabled] {
      background-color: transparent;
      border: none;
      cursor: auto;
      box-shadow: none;
      padding: 0;
      height: auto;
  }
  .filterable .filters input[disabled]::-webkit-input-placeholder {
      color: #333;
  }
  .filterable .filters input[disabled]::-moz-placeholder {
      color: #333;
  }
  .filterable .filters input[disabled]:-ms-input-placeholder {
      color: #333;
  }
  li.nav-item.call-orange {
    margin-left: 10px;
}
.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}


.table-user-information > tbody > tr > td {
  border-top: 0;
}
.toppad
{margin-top:20px;
}
.project-tab {
  padding: 10%;
  margin-top: -8%;
}
.project-tab #tabs{
  background: #007b5e;
  color: #eee;
}
.project-tab #tabs h6.section-title{
  color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #0062cc;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 16px;
  font-weight: bold;
}
.project-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #0062cc;
  font-size: 16px;
  font-weight: 600;
}
.project-tab .nav-link:hover {
  border: none;
}
.project-tab thead{
  background: #f3f3f3;
  color: #333;
}
.project-tab a{
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
div#imagenes{
  margin-top: 170px;
}
header.fixed-header img {
  margin-top: 22px;
}
a.navbar-brand.img-responsive.img-top-logo.hidden-xs {
  margin-top: -46px;
}